doctype html

html(lang='en')
  head
    include ./head
demeure
  |     
  title Demeure

  body(style='background-color:#fcfcfc!important;')

    include ./header
    br
    |   
    br
    | 
    .container
      h2.titreDemeure NOTRE DEMEURE
      | &#x9;
      p.descriptionDemeure!= description.presentation
      
        
      .container
        .row
          .col-md-12
            #theCarousel.carousel.slide.multi-item-carousel
              .carousel-inner
                each image, i in images.urls
                  if i == 0
                    .item.active
                    img.img-responsive(src='#{image.url}')               
                  else 
                    .item
                    img.img-responsive(src='#{image.url}') 
                //- .item
                //-   .col-xs-4
                //-     a(href='#1')
                //-       img.img-responsive(src='http://placehold.it/300/e91e63/000000')
                //- .item
                //-   .col-xs-4
                //-     a(href='#1')
                //-       img.img-responsive(src='http://placehold.it/300/9c27b0/000000')
                //- .item
                //-   .col-xs-4
                //-     a(href='#1')
                //-       img.img-responsive(src='http://placehold.it/300/673ab7/000000')
                //- .item
                //-   .col-xs-4
                //-     a(href='#1')
                //-       img.img-responsive(src='http://placehold.it/300/4caf50/000000')
                //- .item
                //-   .col-xs-4
                //-     a(href='#1')
                //-       img.img-responsive(src='http://placehold.it/300/8bc34a/000000')
                //- // add  more items here
                //- // Example item start:
                //- .item
                //-   .col-xs-4
                //-     a(href='#1')
                //-       img.img-responsive(src='http://placehold.it/300/8bc34a/000000')
                // Example item end
              //- a.left.carousel-control(href='#theCarousel', data-slide='prev')
              //-   i.glyphicon.glyphicon-chevron-left
              //- a.right.carousel-control(href='#theCarousel', data-slide='next')
              //-   i.glyphicon.glyphicon-chevron-right

         
          section#demeureEquipements.container-fluid
            .row
              #Equip.container
                .row
                  #titreEquipement.col-md-12.col-lg-12
                    h1 Equipements et loisirs
                each equipement,i in equipements.equip           
                  #moduleEquip.row
                    if i % 2 == 0
                      #equipement.col-sm-6.col-md-6.col-lg-6
                        img.img-responsive(src='#{equipement.urlImage}')
                      |           
                      #equipement.col-sm-6.col-md-6.col-lg-6
                        h2= equipement.title
                        |           
                        p!= equipement.description
                    else 
                      #equipement.col-sm-6.col-md-6.col-lg-6
                        h2= equipement.title
                        |       
                        p!= equipement.description
                      |       
                      #equipement.col-sm-6.col-md-6.col-lg-6
                        img.img-responsive(src='#{equipement.urlImage}')   
script.
  // Instantiate the Bootstrap carousel
  $('.multi-item-carousel').carousel({
  interval: 3000
  });
  // for every slide in carousel, copy the next slide's item in the slide.
  // Do the same for the next, next item.
  $('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
  next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  if (next.next().length>0) {
  next.next().children(':first-child').clone().appendTo($(this));
  } else {
  $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
  });   
include ./footer
