doctype html

html(lang='en')
  head
    include ./head
demeure
  |     
  title Demeure

  body(style='background-color:#fcfcfc!important;')

    include ./header
    br
    |   
    br
    | 
    .container
      h2.titreDemeure NOTRE DEMEURE
      | &#x9;
      p.descriptionDemeure!= description.presentation
      
        
      .container
        .sync
          .edit
            .sync-container
              .element.five
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.two
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.three
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.seven
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.four
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.six
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.eight
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
            // sync container
          // edit
          .edit
            .sync-container
              .element.seven
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.five
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.nine
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.four
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.two
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.three
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.six
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.eight
                p
            // sync container
          // edit
          .edit
            .sync-container
              .element.nine
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.three
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.eight
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.four
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.five
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.six
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.seven
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.two
                p
            // sync container
          // edit
          //- button.next.slide next
          //- | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          //- button.prev.slide prev
   
    section#demeureEquipements.container-fluid
      .row
        #Equip.container
          .row
            #titreEquipement.col-md-12.col-lg-12
              h1 Equipements et loisirs
          each equipement,i in equipements.equip           
            #moduleEquip.row
              if i % 2 == 0
                #equipement.col-sm-6.col-md-6.col-lg-6
                  img.img-responsive(src='#{equipement.urlImage}')
                |           
                #equipement.col-sm-6.col-md-6.col-lg-6
                  h2= equipement.title
                  |           
                  p!= equipement.description
              else 
                #equipement.col-sm-6.col-md-6.col-lg-6
                  h2= equipement.title
                  |       
                  p!= equipement.description
                |       
                #equipement.col-sm-6.col-md-6.col-lg-6
                  img.img-responsive(src='#{equipement.urlImage}')   
|   
include ./footer
