home

section#BGHomeDemeure.container-fluid
  .row
    #homeDemeure.container
      #infohomeDemeure.row
        .col-lg-12
          #txthomeDemeure.col-xs-12.col-sm-12.col-md-9.col-lg-9
            h3 La Demeure de l&apos;Arche
            |               
            p!= description.presentation
            
          |             
          #homeGeographie.col-xs-12.col-sm-12.col-md-3.col-lg-3
            .col-xs-6.col-sm-6.col-md-12.col-lg-12
              img.img-responsive(src='img/montage_illustration_cevennes.png')
            |               
            .col-xs-6.col-sm-6.col-md-12.col-lg-12
              p
                | Entre nature et histoire, visitez les plus beaux lieux autour de la Demeure de l&rsquo;Arche
      |         
      #infohomeDemeure.row
        #infoBlock.col-xs-6.col-sm-6.col-md-3
          // <div id="pictohomeDemeure"><span class="glyphicon glyphicon-bed"></span></div>
          #pictohomeDemeure
            img(src='img/logo/picto_lamp.png')
          |               
          h3!= presentations1.title
          |               
          p!= presentations1.description
        |         
        #infoBlock.col-sm-6.col-md-3
          #pictohomeDemeure
            img(src='img/logo/picto_lit.png')
          |               
          h3!= presentations2.title
          |               
          p!= presentations2.description
        |         
        #infoBlock.col-sm-6.col-md-3
          #pictohomeDemeure
            img(src='img/logo/picto_calendar.png')
          |               
          h3!= presentations3.title
          |               
          p!= presentations3.description
        |         
        #infoBlock.col-sm-6.col-md-3
          #pictohomeDemeure
            img(src='img/logo/picto_photo.png')
          |           
          h3!= presentations4.title
          |               
          p!= presentations4.description
|   
