doctype html

html(lang='en')
  head
    include ./head
sejours
  |     
  title Les sejours
  |   
  body(style='background-color:#f0f0f0;')
  
    include ./header

  br
  |   
  br
  | 
  br
  |  
  #bgChambre.container
    // début chambre azur 
    br
    br
    br
    | 
    each chambre, i in chambres         
      .row.centered.text-justify.contourBlanc
        .col-xs-4.col-sm-4.col-md-4.positionCarrousel2
          .carousel.slide(data-ride='carousel',id="#"+chambre.themes)             
            .carousel-inner
              each image, i in chambre.images
                if i==0
                  .item.active
                    img#appart.img-responsive(src='#{image}', alt='plan large chambre')               
                else 
                  .item
                    img#appart.img-responsive(src='#{image}', alt='plan large chambre')
        br
        |           
        .col-md-8.description
          #chambreDescription
            h1= chambre.title
            |              
            p!= chambre.description    
            |                 
            h2#titreSejour Descriptif
            |                 
            p!= chambre.equipement
            |                   
            img#positionLogo.img2(src='img/logo/parking.png', alt='logo parking')
            | &nbsp;
            img#positionLogo.img2(src='img/logo/wifi.png', alt='logo wifi')
            | &nbsp;
            img#positionLogo.img2(src='img/logo/no-smoking.png', alt='idée cadeau')
            | &nbsp;
            img#positionLogo.img2(src='img/logo/notanimal.png', alt='idée cadeau')
        |               
        section#tableau.container
        each tarif in chambre.tarifs
          #intitule.row.lead
            hr.filet
            #colTab.col-xs-12.col-sm-2.col-md-2
              h4 NOMBRE
              #colTabMarges.col-xs-12.col-sm-12.col-md-12
                ul.booking
                  li
                    - for (var i=0; i<tarif.nbPersonne; i++)
                        i.glyphicon.glyphicon-user
            #colTab.col-xs-12.col-sm-3.col-md-3
              h4 DESCRIPTION
              #colTabMarges.col-xs-12.col-sm-12.col-md-12
                p.booking!= tarif.description
            #colTab.col-xs-12.col-sm-2.col-md-2
              h4 TOTAL
              #colTabMarges.col-xs-12.col-sm-12.col-md-12
                p.booking
                  span #{tarif.prix}  €
                  br
                  small= tarif.descriptionPrix
            #colTab.col-xs-12.col-sm-3.col-md-3
              h4 RESERVATION
              #colTabMarges.col-xs-12.col-sm-12.col-md-12
                p.booking
                  a.btn.btn-lg.vert(href='reservation', type='button') Réserver
            #colTab.col-xs-12.col-sm-2.col-md-2
              h4 OFFRIR
              #colTabMarges.col-xs-12.col-sm-12.col-md-12
                p.booking
                  a(href='reservation')
                    img.img1(src='img/logo/kdo2.gif', alt='idée cadeau')
          // FIN ROW 1
          hr.filet
        // FILET DE SEPARATION
      br
      br
      br
                  
script.
  $('.carousel').carousel()({
  interval: 1000
  });
           


|     
include ./footer
