doctype html

html(lang='en')
  head
  include ./head 
tourisme
  |     
  title Aux alentours
  body(style='background-color:#fcfcfc!important;')
    include ./header
    #pageTourisme.container
        .row
          #block.col-xs-12.col-sm-6.col-md-4.col-lg-4
            #titleTourisme
              h3
                | Al&egrave;s et sa r&eacute;gion sont riches de sites &agrave; d&eacute;couvrir.
                br
                | Entre nature et histoire, visitez les plus beaux lieux autour de la Demeure de l&rsquo;Arche.
        .row
          each alentour,i  in alentours
            if (i/2) % 3 == 0
              .row      
                #block.col-xs-12.col-sm-6.col-md-4.col-lg-4
                  #lieuxTourisme
                    a(href='#{alentour.url}', target='_blank')
                      img.img-responsive(src='#{alentour.urlImage}', alt='...')
                    |             
                    h3= alentour.title     
                    |             
                    p!= alentour.description
                    |             
                    span
                      a.btn(href='#{alentour.url}', target='_blank', role='button') Acc&egrave;s au site
            else   
              #block.col-xs-12.col-sm-6.col-md-4.col-lg-4
                #lieuxTourisme
                  a(href='#{alentour.url}', target='_blank')
                    img.img-responsive(src='#{alentour.urlImage}', alt='...')
                  |             
                  h3= alentour.title     
                  |             
                  p!= alentour.description
                  |             
                  span
                    a.btn(href='#{alentour.url}', target='_blank', role='button') Acc&egrave;s au site                
include ./footer
    // FIN TOURISME
  
